@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
body{
    font-family: 'NanumSquare'
}
.hidden{

    display:none;
}
img 
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.8;
}

.container
{
    text-align: center;
    padding: 100px 0px;
}
li
{
    list-style: none;
}
#greeting
{
    font-size: 3em;
    font-weight: 550;
    color: #fff;
    margin: 10px auto;
}
#clock
{
    font-size: 2.5em;
    font-weight: 600;
    color: #fff;
}

form
{
    margin: 30px 0px;
}
input
{
    width: 300px;
    height: 35px;
    padding: 2px 15px;
    border-radius: 0.35em;
    opacity: 0.8;
    color: black;
    border-color: #fff;
}
li
{
    color: rgb(41, 24, 116);
    margin: 5px;
}
#quote
{
    font-size: 1.5em;
    font-weight: 600;
    color: black;
    margin-top: 30px;
    margin-bottom: 10px;
}
button
{
    margin-left: 5px;

}
#weather
{
    font-weight: 600
    ;
}